<div class="container mt-4">

<p>Username: {{studentDetail.username | isUndefined}}</p>
<p>Name: {{studentDetail.name | isUndefined}}</p>
<p >Email: {{studentDetail.email | isUndefined}}</p>
<p >City: {{studentDetail.address.street | isUndefined}}</p>
<p >Address: {{studentDetail.city | isUndefined}}</p>
<p >Birth Date: {{studentDetail.dateOfBirth}}</p>
<p>Extra curricular: {{studentDetail.extraCurricular | isUndefined}}</p>
<p>Company name: {{studentDetail.company.name | isUndefined}}</p>
<p>Website: {{studentDetail.website | isUndefined}}</p>
</div>