<div class="container mt-4" *ngFor="let studentDetail of studentDetail">


<p>Name: {{studentDetail?.name| isUndefined}}</p>
<p>Username: {{studentDetail?.username | isUndefined}}</p>
<p >Email: {{studentDetail?.email | isUndefined}}</p>
<p >City: {{studentDetail?.address.street | isUndefined}}</p>
<p >Address: {{studentDetail?.city | isUndefined}}</p>
<p >Birth Date: {{studentDetail?.dateOfBirth | isUndefined}}</p>
<p>Extra curricular: {{studentDetail?.extraCurricular | isUndefined}}</p>
</div>